{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block content %}
{% if app_list %}
            {% for app in app_list %}
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title"><a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered">
                    <tbody>
                    {% for model in app.models %}
                    <tr>
                        <td>
                            {% if model.admin_url %}
                                <a href="{{ model.admin_url }}">{{ model.name }}</a>
                            {% else %}
                                {{ model.name }}
                            {% endif %}
                        </td>
                        <td><i class="fa fa-pencil"></i> <a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                        <td><i class="fa fa-plus"></i> <a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                    </tr>
                    {% endfor %}

                  </tbody></table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
              </div>
            {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endblock %}